/* toda a página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Itim', cursive;
}

/* corpo da página */
body {
    background-color: #EBEBEB;
}

#direitos p{
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    font-family: 'itim',cursive;
}

/* faixa */
#faixa {
    display: flex;
    padding: 154px 0 40px 0;
    background-color: #b4ff63;
}
    #faixa-espaco {
        display: flex;
        flex-direction: row;
        width: 65%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap-reverse;
        animation-duration: 1.5s;
        animation-name: faixa;
    }
    #faixa-video {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #faixa-video video {
        width: 229px;
        height: auto;
        border: 4px solid black;
        border-radius: 2em;
        animation-duration: 1s;
        animation-name: videos;
    }
    #faixa-video button {
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0 15px;
    }
    #faixa-video img {
        width: 60px;
        height: 60px;
        transition: transform 0.1s;
    }
    #faixa-video img:hover {
        transform: scale(1.08);
        background-color: #EBEBEB;
        border-radius: 1.4em;
    }
    h1 {
        font-size: 4.8vw;
    }
    span {
        font-size: 2.5vw;
        color: #000000b9;
    }
    #seta {
        display: flex;
        align-items: flex-end;
        width: 16%;
        animation: seta 0.5s infinite alternate;
    }

/* barra rolagem */
#barraint {
    position: fixed;
    width: 100%;
    margin-top: 100px;
    z-index: 1;
}
    #barra-rolagem {
        background-color: #6CCCEC;
    }
    #rolagem {
        background-color: #FD8251;
        height: 8px;
        width: 0%;
    }

/* artigo */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 50px 0;
}
#conteudo {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragrafo {
    margin-top: 18px;
    width: 100%;
}
h2 {
    font-size: 45px;
    background-color: #b4ff63;
    text-align: center;
}
h3 {
    font-size: 35px;
}
.paragrafo p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 36px;
    text-align: justify;
    color: #000000d8;
}
h3 + p {
    margin-top: 17px;
}
figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
figure img {
    width: 100%;
    height: auto;
    border: 1.5px solid black;
    border-radius: 2em;
}
figure figcaption {
    font-size: 14px;
    text-align: center;
    color: #000000b9;
    margin-top: 8px;
}
h3 + ul {
    margin-top: 17px;
}
h3 + ul li {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 36px;
    color: #000000d8;
}

/* fontes */
#fontes {
    width: 100%;
    margin-top: 24px;
}
    #fontes ul {
        margin-top: 22px;
    }
    #fontes li {
        line-height: 36px;
        font-size: 17px;
    }
    #fontes li a {
        color: #000000b9;
        font-family: 'Nunito', sans-serif;
    }
    #fontes li a:hover {
        color: black;
        text-decoration: underline;
        transition: 0.5s;
    }

/* leia também */
#artigos {
    width: 100%;
    margin-top: 40px;
}
#leia {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
    flex-wrap: wrap;
}
    #leia > a {
        transition: transform 0.1s;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    #leia > a:hover {
        transform: scale(1.05);
    }
    #leia > a > img {
        width: 19vw;
        height: auto;
        border-radius: 2em;
    }
    img + p {
        width: 19vw;
        font-size: 19px;
        position: absolute;
        color: white;
        text-shadow: 2px 2px 2px black;
        word-wrap: break-word;
        text-align: center;
        padding-bottom: 15px;
    }

/* @ */
/* @keyframes (movimentação) */
@keyframes faixa {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
      }
}
    @keyframes videos1 {
        from {
            opacity: 0%;
        }
        to {
            opacity: 100%;
        }
    }
    @keyframes videos2 {
        from {
            opacity: 0%;
        }
        to {
            opacity: 100%;
        }
    }
    @keyframes seta {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(10px);
        }
    }

/* @media (responsivo) */
@media screen and (min-width:1300px){
    h1 {
        font-size: 4.7vw;
    }
    span {
        font-size: 2vw;
    }
    #faixa-espaco {
        width: 60%;
    }
    #faixa-video button, #faixa-video img  {
        width: 70px;
        height: 70px;
    }
    #seta {
        width: 19%;
    }

    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 24px;
        line-height: 40px;
    }
    figure figcaption {
        font-size: 16px;
    }

    #fontes li {
        line-height: 40px;
        font-size: 21px;
    }

    img + p {
        font-size: 21px;
    }
}

@media screen and (max-width:1090px){
    nav{
        margin-right: 60px;
    }

    #faixa-espaco {
        width: 80%;
    }
    h1 {
        font-size: 6vw;
    }
    span {
        font-size: 3vw;
    }
    #seta {
        width: 10%;
    }
}

@media screen and (max-width:1024px){
    #leia > a {
        margin-bottom: 24px;
        margin-top: 10px;
    }
    #leia > a > img, img + p {
        width: 28vw;
    }
}

@media screen and (max-width: 940px) {
    #faixa-espaco {
        width: 87%;
    }
}

@media screen and (max-width: 768px) {
    #faixa-espaco {
        width: 93%;
    }
    #seta {
        width: 5%;
    }
}

@media screen and (max-width:689px){
    nav{
        margin-right: 0;
    }
    .botao{
        display: none;
    }

    #seta {
        display: none;
    }
    #faixa {
        justify-content: center;
    }
    #faixa-espaco {
        justify-content: center;
    }
    h1 {
        font-size: 7vw;
        margin-bottom: 35px;
    }
    span {
        font-size: 4vw;
    }
}

@media screen and (max-width:540px){
    h1 {
        font-size: 8vw;
    }

    #conteudo {
        width: 75%;
    }

    #leia > a > img {
        width: 100%;
    }
    img + p {
        width: 60vw;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 10vw;
    }
    span {
        font-size: 6vw;
    }

    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 33px;
    }
    p {
        font-size: 17px;
        text-align: left;
        line-height: 32px;
    }
    figure figcaption {
        font-size: 12px;
    }

    #fontes li {
        line-height: 32px;
        font-size: 15px;
    }
}

@media screen and (max-width: 410px) {
    #faixa-video video {
        width: 214px;
        height: auto;
    }
    #faixa-video button {
        width: 50px;
        height: 50px;
        margin: 0 13px;
    }
    #faixa-video img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 370px) {
    #faixa-video video {
        width: 190px;
        height: auto;
    }
    #faixa-video button {
        width: 45px;
        height: 45px;
        margin: 0 10px;
    }
    #faixa-video img {
        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 350px) {
    h1 {
        font-size: 11vw;
    }
}