*{
    padding: 0;/*retira qualquer espaçamento inicial da pagina*/
    margin: 0;    
    box-sizing: border-box;/*As propriedades de largura e altura incluindo content, paddding e border, define como a largura e a altura de um elemento são calculadas*/
	font-family: 'Itim', cursive;
    }
    
    body{
        background:url(../img/background.jpg); /*define que o body terá a imagem referida*/        
    }

#jva{
	border-radius: 50%;
	cursor: pointer;
}

#container{
	display: none;
	border-left: 3px dashed black;
	border-top:3px dashed black;
	right: 0;
	position: absolute;
	height: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	background-color: white;
	top: 120px;
	animation: fadeInRightBig 0.5s;
}	

@keyframes fadeInRightBig {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(2000px, 0, 0);
	  transform: translate3d(2000px, 0, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }

#click{
	display: none;
}

.perfil{
	width: 100%;
	height: auto;
	display: flex;
	margin-top: 100px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#item1{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	align-items: center;
}

#botao{
		padding: 5px;
		margin-right: 20px;
		font-family: 'Itim', cursive;
		height: 40px;
		width:130px;
		border: 1.5px solid black;
		border-radius: 2em;
		cursor: pointer;
		font-size: 20px;
		font-weight: 600;
	}

	#botao:hover{
		background-color: #36e136;
		}

#btn-close{
	background-color: transparent;
	border: none;
	margin: 5px;
}
	#btn-close img{
		width: 20px;
		height: 20px;
	}

#icone{
	border-radius: 50%;
	cursor:pointer;
}
	
	.perfil img{
	margin: 20px;
	border-radius: 50%;
	width:20vw;
	margin-top: -70px;
	border:5px dashed #36e136;
	}
	
	.perfil #nick{
		text-align: center;
		font-size: 40px;
		font-weight: 700;
	}

	.perfil #ponto{
		border-radius: 20px;
		padding: 10px;
		margin: 10px;
		width: auto;
		border:2px solid black;
		text-align: center;
		font-size: 20px;
		font-weight: 700;
	}

.recompensa{
display: flex;/*Faz o container virar um grid*/
position: relative;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #b4ff63;
height: 400px;
width: 100%;
padding: 40px 0px;
}


.modal-content{
	background-image: url(../img/background.jpg);
}
	.modal-header{
		background-image: none;
		background-color: white;
	}
	.modal-footer .btn-primary {
		color: black;
		background-color: #b4ff63;
		border:#b4ff63;
	}
	#senha{
		margin-bottom: 20px;
	}
	#usuario #nome{
		border: 1px solid black;
		width: 40%;
	}
@media screen and (max-width:700px){
	nav{
		display: flex;
		width: 30%;
		justify-content: space-between;
		margin-right: 0px;
		align-items: center;
		background-color: brown;
		}

	.perfil img{
		margin: 20px;
		border-radius: 50%;
		width:40vw;
		border:5px dashed #36e136;
		}
		
	#container{
		display: none;
		border-left: 3px dashed black;
		border-top:3px dashed black;
		height: 100%;
		position: relative;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		background-color: white;
		animation: none;
	}
	

	#item1{
		width: 100%;
		position: absolute;
		padding: 10px;
		left: 0;
		top:0px;
		z-index: 2;
		
	}
}

@media screen and (max-width:400px){
	#logo{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 5vw;
		color: rgb(5, 221, 41);
		}

	#logo img{
		width: 54px;
		height: 54px;	
	}
}


#senha button.btn-close{
	background: transparent url(../img/voltar.png) center/1em auto no-repeat;;
}
#email button.btn-close{
	background: transparent url(../img/voltar.png) center/1em auto no-repeat;;
}

#sair{
	cursor: pointer;
}